<po-page-default>
  @if (!isAdmin) { @if(type == '2'){
  <po-stepper>
    <po-step
      p-label="Funcionalidade"
      [p-can-active-next-step]="
        canActiveNextStep.bind(this, 'functionalityPoint')
      "
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Funcionalidade"
        description="Pontuação atribuída com base na complexidade das funcionalidades da tarefa E REGRA DE NEGÓCIO."
        [pointDescription]="[
          { point: '1 - Simples' },
          { point: '2 - Moderada' },
          { point: '3 - Complexa' }
        ]"
        (cardPoint)="receiveFunctionalityPoint($event)"
      ></app-voteThread>
    </po-step>
    <po-step
      p-label="Integrações"
      [p-can-active-next-step]="
        canActiveNextStep.bind(this, 'integrationPoint')
      "
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Integrações"
        description="Pontuação atribuída com base na complexidade das integrações necessárias com outros sistemas ou serviços."
        [pointDescription]="[
          { point: '0 (Nenhuma)' },
          { point: '1 - Simples' },
          { point: '2 - Moderada' },
          { point: '3 - Complexa' }
        ]"
        (cardPoint)="receiveIntegrationPoint($event)"
      ></app-voteThread
    ></po-step>
    <po-step
      p-label="Tecnologia"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'tecnologyPoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Tecnologia"
        description="Pontuação atribuída com base no grau de familiaridade da equipe com as tecnologias utilizadas no desenvovimento da demanda."
        [pointDescription]="[
          { point: '1 - Conhecido' },
          { point: '2 - Parcialmente Conhecido' },
          { point: '3 - Desconhecido' }
        ]"
        (cardPoint)="receiveTecnologyPoint($event)"
      ></app-voteThread>
    </po-step>

    <po-step
      p-label="Riscos"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'riskPoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Riscos"
        description="A probabilidade e o impacto de algo dar errado durante a execução da tarefa."
        [pointDescription]="[
          { point: '1 - Poucos riscos conhecidos, de impacto mínimo' },
          { point: '2 - Alguns riscos conhecidos, de impacto moderado.' },
          {
            point:
              '3 - Vários riscos significativos, com potencial de alto impacto.'
          }
        ]"
        (cardPoint)="receiveRiskPoint($event)"
      ></app-voteThread>
    </po-step>

    <po-step
      p-label="Escopo"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'scopePoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Escopo"
        description="Existe clareza no que está sendo pedido na demanda? Os requisitos estão claros?"
        [pointDescription]="[
          { point: '1 - Alta clareza' },
          { point: '2 - Clareza Moderada' },
          { point: '3 - Pouca Clareza' }
        ]"
        (cardPoint)="receiveScopePoint($event)"
      ></app-voteThread>
    </po-step>

    <po-step
      p-label="Experiência do time"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'experiencePoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Experiência do time"
        description="Pontuação atribuída com base na experiência da equipe com tarefas semelhantes."
        [pointDescription]="[
          { point: '1 - Muita experiência' },
          { point: '2 - Alguma experiência' },
          { point: '3 - Pouco ou nenhuma clareza' }
        ]"
        (cardPoint)="receiveExperiencePoint($event)"
      ></app-voteThread>
    </po-step>

    <po-step
      p-label="Dependências"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'dependencePoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Dependências"
        description="Pontuação atribuída com base na quantidade e complexidade das dependências externas que podem impactar a tarefa."
        [pointDescription]="[
          { point: '0 -  Nenhuma dependência' },
          { point: '1 - Pouca dependência' },
          { point: '2 - Dependências moderadas' },
          { point: '3 - Múltiplas ou complexas dependências' }
        ]"
        (cardPoint)="receiveDependencePoint($event)"
      ></app-voteThread>
    </po-step>
    <po-step
      p-label="Testes"
      [p-can-active-next-step]="canActiveNextStep.bind(this, 'testPoint')"
    >
      <app-voteThread
        [resetVotes]="resetVotes"
        title="Testes"
        description="Pontuação atribuída com base na experiência da equipe com tarefas semelhantes."
        [pointDescription]="[
          {
            point: '1 - Teste extremamente fácil ou poucos cenários para testar'
          },
          { point: '2 - Moderado porém ainda simples (extenso/trabalhoso)' },
          {
            point:
              '3 - Múltiplos testes, com vários bancos, plano de testes ...'
          }
        ]"
        (cardPoint)="receiveTestPoint($event)"
      ></app-voteThread>
    </po-step>
  </po-stepper>
  } @else {
  <app-simpleVoting></app-simpleVoting>
  } } @else {
  <app-totalVoting [id]="id" [type]="type"></app-totalVoting>
  <div class="po-row po-mt-2">
    <po-button
      class="po-xl-6 po-lg-6 po-md-6 po-sm-6"
      p-label="Finalizar"
      (p-click)="finish()"
    ></po-button>
    <po-button
      class="po-xl-6 po-lg-6 po-md-6 po-sm-6"
      p-label="Abrir Resultado"
      (p-click)="showPoints()"
    ></po-button>
  </div>

  }
  <po-modal p-title="Votação">
    <app-totalVoting [id]="id" [isAdmin]="isAdmin"></app-totalVoting>
  </po-modal>
</po-page-default>
