<po-page-default>
  <h1>Planning Poker FrameSP</h1>
  <po-widget>
    <div class="header-container">
      <img
        class="header-image"
        src="../../../assets/imagens/planning_poker_logo_256x256.png"
        alt="Logo"
      />
    </div>
    <form [formGroup]="adminForm">
      <po-input
        class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
        name="input"
        p-label="Nome"
        p-help="Informe um Nome da nova votação"
        formControlName="name"
      >
      </po-input>
      <po-combo
        class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
        name="squad"
        p-label="Squad"
        p-help="Selecione a Squad"
        formControlName="squad"
        [p-options]="squadNames"
      >
      </po-combo>
      <!-- <div class="po-row">
        <po-combo
          class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
          name="type"
          p-label="Tipo de Votação"
          p-help="Informe se a votação será por tópico (Completa) ou não (Simples)"
          formControlName="type"
          [p-options]="[
            { value: '1', label: 'Simples' },
            { value: '2', label: 'Completa' }
          ]"
        >
        </po-combo>
      </div> -->
      <po-button
        p-label="Adicionar"
        (p-click)="newPlanning()"
        [p-disabled]="!this.adminForm.valid"
      >
      </po-button>
    </form>
  </po-widget>

  <po-table
    [p-columns]="columns"
    [p-items]="items"
    [p-loading]="isLoadingTable"
  >
  </po-table>
</po-page-default>
