<h1>Votação - {{ id }}</h1>
<po-container>
  <h2>Totalizadores</h2>
  <po-widget class="po-xl-3 po-lg-3 po-md-3 po-sm-12"
    ><h3>Total de Votantes:</h3>
    <br />
    <span class="widget-point">{{ totalVotes }}</span>
  </po-widget>
  <po-widget class="po-xl-3 po-lg-3 po-md-3 po-sm-12"
    ><h3>Pontuação Total:</h3>
    <br />
    <span class="widget-point">{{ totalPoints }}</span></po-widget
  >
  <po-widget class="po-xl-3 po-lg-3 po-md-3 po-sm-12"
    ><h3>Pontuação Média:</h3>
    <br /><span class="widget-point">{{ midPoints }}</span></po-widget
  >
  <po-widget class="po-xl-3 po-lg-3 po-md-3 po-sm-12"
    ><h3>Tamanho da Camisa:</h3>
    <br /><span class="widget-point">{{ tshirt }}</span></po-widget
  >
</po-container>
<h2>Participantes</h2>

<po-table [p-columns]="columns" [p-items]="items"> </po-table>
