/* Estilo para o título principal */
h1 {
  font-family: "NunitoSans-ExtraLight", sans-serif;
  font-size: 34px;
  line-height: 48px;
  color: #333;
  text-align: center;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  max-width: 800px; /* Ajuste o tamanho da imagem conforme necessário */
  border-radius: 50%;
  height: auto;
}
