<po-container>
  <h1>{{ title }}</h1>
  <p>
    {{ description }}
  </p>
  <ul>
    @for (item of pointDescription; track item.point) {
    <li>{{ item?.point }}</li>
    }
  </ul>
</po-container>

<div class="po-row">
  @for (item of pointDescription; track item.point) {
  <po-widget
    [ngClass]="styleCard"
    [p-primary]="item.point.substr(0, 1) == selected"
    (p-click)="selectPoint(item.point.substr(0, 1))"
  >
    <span class="highlighted-number">{{ item.point.substr(0, 1) }}</span>
  </po-widget>
  }
</div>
